#contianer {
    overflow: hidden;
}

#logo {
    background-color: #ba7d3b;
    height:5%;
    border-top-left-radius: 10px;
}

#tagList { 
    background-color: #7e5026;
    float: left;
    width: 25%;
    height: 95%;
    border-bottom-left-radius: 10px;
}

#contents {
    background-color: #fffef9;
    float: left;
    width: 75%;
    height: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#ads {
    background-color: #f0d6a4;
    float: left;
    height: 5%;
}

h2 {
    margin: 5px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 0px;
}