@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

div {
    font-family: 'Nanum Gothic Coding', serif;
}

#contianer {
    overflow: hidden;
}

#logo {
    background-color: #ba7d3b;
    height:10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

#tagList { 
    background-color: #7e5026;
    float: left;
    width: 25%;
    height: 90%;
    border-bottom-left-radius: 10px;
}

#contents {
    background-color: #E2E4E6;
    float: left;
    width: 75%;
    height: 90%;
    border-bottom-right-radius: 10px;
}

#ads {
    background-color: #f0d6a4;
    float: left;
    height: 5%;
}

h2 {
    margin: 5px;
}

#submit_bt {
    float: right;
}